
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 mx-auto mt-5"
style="background-color: #f8f9fa; padding: 20px; border-radius: 5px;">

<%= form_with(model: post) do |form| %>
  <h1>New post</h1>
  
 

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div>
    <%= form.label :keywords, style: "display: block" %>
    <%= form.text_field :keywords, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-primary"  %>
  </div>
<% end %>
</div>